@model Hobby
@{
    ViewData["Title"] = "UpdateHobby";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card shadow p-5" style="width: 100%; border: none; border-radius: 0;">
    <h4 class="text-center mb-4 text-primary">Hobi Güncelle</h4>

    <form method="post" enctype="multipart/form-data"  class="w-75 mx-auto">
        <input type="hidden" asp-for="Id" />
        <div class="form-group mb-3 row align-items-center">
            <label  class="col-sm-2 col-form-label text-primary" style="font-size: 21px; font-weight: bold; text-align: end">Hobi Adı</label>
            <div class="col-sm-9">
                <input type="text" asp-for="Name" class="form-control form-control-lg" required />
            </div>
        </div>
        <div class="form-group mb-3 row align-items-center">
            <label class="col-sm-2 col-form-label text-primary" style="font-size: 21px; font-weight: bold; text-align: end">Açıklama</label>
            <div class="col-sm-9">
                <textarea asp-for="Description"
                          class="form-control form-control-lg"
                          rows="4"
                          style="resize: vertical;" required></textarea>
            </div>
        </div>

        <div class="form-group mb-3 row align-items-center">
            <label class="col-sm-2 col-form-label text-primary" style="font-size: 21px; font-weight: bold; text-align: end">Fotoğraf</label>
            <div class="col-sm-9">
                <input type="file" name="ImageFile" class="form-control form-control-lg" />
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" width="150" height="200" />
                }
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Güncelle</button>
        </div>
    </form>
</div>


