@model List<Skill>
<section id="beceriler" class="skills section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>BECERİLER</h2>
    </div>
    <!-- End Section Title -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="skills-category" data-aos="fade-up" data-aos-delay="300">
            <h3>Full Stack Developer</h3>
            @foreach(var item in Model)
            {
                    <div class="skills-animation">
                        <div class="skill-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4>
                                    <label>@item.SkillName</label>
                                </h4>
                                <span class="skill-percentage">
                                    <label>@item.WhatPercentage %</label>
                                </span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow='@item.WhatPercentage' aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="skill-tooltip">
                                <label>@item.Description</label>
                            </div>
                            <br />
                        </div>
                    </div>
            }
        </div>
        <!-- End Backend Skills -->
    </div>

</section>