
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Sayfası</title>

    <link rel="stylesheet" href="/AdminSablon/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/AdminSablon/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/AdminSablon/vendors/css/vendor.bundle.addons.css">

    <link rel="stylesheet" href="/AdminSablon/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="http://www.urbanui.com/" />
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar">

            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="fas fa-bars"></span>
                </button>


                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="fas fa-bars"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="profile-name">
                                <p class="name" id="KullaniciAdi"></p>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Index">
                            <i class="fa fa-user menu-icon"></i>
                            <span class="menu-title">Hakkımda</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Education">
                            <i class="fa fa-graduation-cap menu-icon"></i>
                            <span class="menu-title">Eğitim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Experience">
                            <i class="fa fa-briefcase menu-icon"></i>
                            <span class="menu-title">Deneyim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/JobDescription">
                            <i class="fa fa-tasks menu-icon"></i>
                            <span class="menu-title">Görev Tanımları</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Hobby">
                            <i class="fa fa-heart menu-icon"></i>
                            <span class="menu-title">Hobiler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Project">
                            <i class="fa fa-code menu-icon"></i>
                            <span class="menu-title">Projeler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Sertificate">
                            <i class="fa fa-certificate menu-icon"></i>
                            <span class="menu-title">Sertifikalar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Skill">
                            <i class="fa fa-cogs menu-icon"></i>
                            <span class="menu-title">Beceriler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Contact">
                            <i class="fa fa-envelope menu-icon"></i>
                            <span class="menu-title">İletişim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Settings">
                            <i class="fa fa-cog menu-icon"></i>
                            <span class="menu-title">Ayarlar</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © @DateTime.Now.Year. Tüm Hakları Saklıdır.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">SEHER ÇELİK <i class="far fa-heart text-danger"></i></span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/AdminSablon/vendors/js/vendor.bundle.base.js"></script>
    <script src="/AdminSablon/vendors/js/vendor.bundle.addons.js"></script>
    <script src="/AdminSablon/js/off-canvas.js"></script>
    <script src="/AdminSablon/js/hoverable-collapse.js"></script>
    <script src="/AdminSablon/js/misc.js"></script>
    <script src="/AdminSablon/js/settings.js"></script>
    <script src="/AdminSablon/js/todolist.js"></script>
    <script src="/AdminSablon/js/dashboard.js"></script>
</body>


</html>
