@model List<Project>

<section id="projeler" class="portfolio section">
    <div class="container section-title" data-aos="fade-up">
        <h2>PROJELER</h2>
    </div>

    <div class="container mt-3" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
            @foreach (var item in Model)
            {


                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="our-team-main">
                        <div class="team-front">
                            <h3 class="text-black">
                                <label>@item.Name</label>
                            </h3>
                        </div>
                        <div class="team-back">
                            <p class="text-black text-center">
                                <label>@item.Description</label>
                            </p>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <a href='@item.Link' class="btn btn-light">İncele</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>